.card{
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px 5px  black;
    border-radius: 15px;
}

h2{color:darkblue;
    font-size: 30px;

}

footer{
    font-style: unset black;
    background-color: rgb(66, 157, 209);
}



