#itemCountContainer{
    display: flex;
    flex-flow: column nowrap;
    max-width: 80px;

    #itemCount{
        display:flex;
        flex-flow: row nowrap;
        width: 100px;
        height: 50px;
    
        h1{
            width: 50px;
            text-align: center;
        }

        button{

            width: 30px;
            color:violet
        }

    }
    #onAddCart{
        margin-top: 8px;
        width: auto;
        border-style: bold;

    }

}